.dashboard_cont{
    /* height: 100%;
    width: 100%; */
    background-color:var(--background);
    /* border-top-left-radius: 20px; */
}
span{
    display: block;
    padding-top: 8% ;
    padding-left:  3% ;


}
.dahsboard_text{
  /* margin-top:60px; */
    /* 
    
    */
    padding-left: 5% ; 
    padding-bottom: 2% ;
    padding-top: 3% ;
}
.dahsboard_text>h3{
  font-size: 1.25rem;
 font-family:  'Montserrat', sans-serif;
}
.cards_dash{
 
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
  
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    
}
.card1{
    height: 30vh;
}


  .card {
    --blur: 16px;
    /* --size: clamp(300px, 50vmin, 600px);
    width: var(--size); */
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 2rem;
    border:none;
    overflow: hidden;
    color: #302e2e;
    transform: translateZ(0);
    box-shadow: rgba(87, 87, 114, 0.25) 0px 6px 12px -2px, rgba(63, 63, 63, 0.3) 0px 3px 7px -3px; }
  
  .card__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    background-size: cover;
  }
  
  .card__footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    display: grid;
    grid-template-columns: repeat;
    grid-template-rows: auto auto;
    gap: 0.5ch;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(var(--blur));
    border-radius:0 0 2rem 2rem;

   padding-top: 1%;
   padding-bottom: 5%;
    align-content: center;
    font-weight: 550;
    font-size: 15px;
  }
  
  .card__action {
    position: absolute;
    aspect-ratio: 1;
    /* width: calc(var(--size) * 0.15); */
    bottom: 30%;
    right: 1.5rem;
  
    background: purple;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background: hsl(0 0% 100% / 0.5);
  /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
 
  }
  .cont_graph{
    padding-left: 3%;
    padding-top: 2%;
    padding-right: 3%;
    display: grid;
    grid-auto-rows: minmax(200px,auto);
    grid-template-areas: 
    "img1 img1 img1 img2"
    "img3 img4 img5 img2";
    grid-gap: 10px;
  }
  .box{
    background-color: black;
    color: #fff;
    text-align: center;
  }
  .img1{
    grid-area: img1;
    background-image: url("../../../assets/AssetsCardsDashBoard/tele2.png");
    background-size:auto;
    background-color: #fff;
    border-radius: 10px;
    border:2px solid rgb(189, 186, 186) ;



  }
  .img2{
    grid-area: img2;
    background-image: url("../../../assets/AssetsCardsDashBoard/telechar2.png");
    background-color: #fff;
    background-size:auto;
    background-color: #fff;
    border-radius: 10px;
    border:2px solid rgb(189, 186, 186) ;

  }
  .img3{
    grid-area: img3;
    background-image: url("../../../assets/AssetsCardsDashBoard/telechar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size:auto;
    border-radius: 10px;
    border:2px solid rgb(189, 186, 186) ;

  }
  .img4{
    grid-area: img4;
    background-image: url("../../../assets/AssetsCardsDashBoard/telechar2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-color: #fff;
    border-radius: 10px;
    border:2px solid rgb(189, 186, 186) ;
  }
  .img5{
    grid-area: img5;
    background-image: url("../../../assets/AssetsCardsDashBoard/telechar2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    background-color: #fff;
    border-radius: 10px;
    border:2px solid rgb(189, 186, 186) ;
  }

  .img-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: -150px !important;
  }
  @media screen and (max-width:1200px) {
    .card1{
      width: 300px;
      height: fit-content;
    }
    .cards_dash{
      gap:5rem;
    }
    .cont_graph{
      grid-auto-rows: minmax(300px,auto);
      grid-template-areas: 
      "img1 img1 img1 img1"
      "img2 img2 img2 img2"
      "img3 img3 img3 img3"
      "img4 img4 img4 img4"
      "img5 img5 img5 img5";
      grid-gap: 10px;
    }
  }
  @media screen and (max-width:770px) {
    
    .cards_dash{
      padding-top: 3rem;
    }
  }
  @media screen and (max-width:420px) {
    
    .cards_dash{
gap: 0rem;    }
  }
  @media screen and (max-width:380px) {
    
    .cards_dash{
gap: 3rem;    }
  }
  @media (max-width: 830px) and (max-height: 1181px) {
    .card1{
      height: fit-content;
  }

}
@media screen and (max-width:300px) {
  .card1{
    width: 200px;
    height: fit-content;
  }
  
}
@media (max-width: 414px) and (max-height: 915px) {
  .cards_dash{
    gap: 1rem;    }
      

}