<div  class="dashboard_cont">
   <div class="dahsboard_text">
    <h3>Dashboard</h3>
   </div>
   <div class="cards_dash">
    <div class="card1">
        <a href="#" class="card">
            <img src="../../../assets/AssetsCardsDashBoard/Source code-amico.svg" class="card__img">
            <span class="card__footer">
              <span>Configuration</span>
              
            </span>
            
          </a>
    </div>
    <div class="card1">
        <a href="#" class="card">
            <img src="../../../assets/AssetsCardsDashBoard/Mobile Marketing-pana.svg" class="card__img">
            <span class="card__footer">
              <span>Projets de Tendance</span>
             
            </span>
            
          </a>
    </div>
    <div class="card1">
        <a href="#" class="card">
            <img src="../../../assets/AssetsCardsDashBoard/Site Stats-amico.svg" class="card__img">
            <span class="card__footer">
              <span>Suivre une Tendance</span>
            </span>
            
          </a>
    </div>

   </div>
  
<div class="cont_graph img-dashboard">
<img   src="../../../assets/AssetsCardsDashBoard/AgenceEkloreMarketing.png">
</div>
   </div>
  
