<aside [ngClass]="{'show': open} ">
  <div class="top">
    <div class="logo">
      <img src="../../assets/AssetsNavBar/logo.png" />
      <h4>Neo<span class="half-title">Influencer</span></h4>
    </div>
    <!-- <div class="close" id="close-btn">
      <span class="close-icon" (click)="closeMenu()"><i class="fa-solid fa-xmark" ></i></span>
    </div> -->
  </div>
  <div class="sidebar">
    <a routerLinkActive="active" routerLink="dashboard" >
      <span class="icon"><i class="fa-solid fa-table-cells-large"></i></span>
      <h3>Dashboard</h3>
    </a>
    <a routerLinkActive="active" routerLink="/configuration" class="config-link" (click)="choseConfig()">
      <span class="icon"><i class="fa-solid fa-sliders"></i></span>
      <h3>Configuration </h3>
      <!-- <i class="fa-solid fa-chevron-right arrow" [ngStyle]="{'transform':click?'rotate(90deg)':'rotate(0deg)'}"></i> -->
    </a>
<!-- ==============================SUBMENU=================================== -->
      <!-- <div class="config" *ngIf="click">
        <a routerLinkActive="active-sub" routerLink="/configuration/productService" class="sub-menu-config">
          <span class="icon"
            ><i class="fa-solid fa-store"></i></span>
          <h3>Client</h3>
        </a>
        <a routerLinkActive="active-sub" routerLink="/configuration/canaux"  class="sub-menu-config">
          <span class="icon"
            ><i class="fa-solid fa-shuffle"></i></span>
          <h3>Canals</h3>
        </a>
        <a routerLinkActive="active-sub" routerLink="/configuration/region"  class="sub-menu-config">
          <span class="icon"
            ><i class="fa-sharp fa-solid fa-location-dot"></i></span>
          <h3>Regions</h3>
        </a>
      </div> -->
<!-- ==============================   END   SUBMENU    =================================== -->
  
    <a routerLinkActive="active" routerLink="TrendingProject">
      <span class="icon"
        ><i class="fa-solid fa-square-poll-horizontal"></i
      ></span>
      <h3>Trending project</h3>
    </a>
    <a routerLinkActive="active" routerLink="FollowTrend">
      <span class="icon"><i class="fa-sharp fa-solid fa-list-check"></i></span>
      <h3>Follow a Trend</h3>
    </a>
    <a routerLinkActive="active" routerLink="profil">
      <span class="icon"><i class="fa-solid fa-user"></i></span>
      <h3>Profil</h3>
    </a>
    <a href="#" class="logout">
      <span class="icon"
        ><i class="fa-solid fa-arrow-right-from-bracket"></i
      ></span>
      <h3 (click)="logout()">Logout</h3>
    </a>
  </div>
</aside>
