
/* =============================================== SIDEBAR ==================================== */
@keyframe rotate{
    to{
        transform:rotate(36deg)
    }
}
a{
    text-decoration: none;
}
aside{
    height: 100vh;


}
aside .top{
    /* background: white; */
    display: flex;
    align-items: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    padding: 10px;
}
.hide{
    display: none;
}
aside .logo{
    display: flex;
    gap:0.8rem;
    padding-right: 0.8rem;

}
aside .logo img{
    width: 2rem;
    height: 2rem;
    
}
aside .close{
    display: none;
}
aside .sidebar{
    /* background: white; */
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top:3rem;
}
aside h3{
    font-weight: 500;
    font-size:0.87rem;

}
.sidebar a h3{
    font-size:1rem;

}
aside .sidebar a {
    display: flex;
    color:var(--dark-gray);
    margin-left: 2rem;
    gap:1rem;
    align-items:center;
    position: relative;
    height: 4rem;
    transition: all 300ms ease;

}
aside .sidebar a span{
    font-size: 1.5rem;
    transition: all 300ms ease;
}
aside .sidebar a.logout{
    font-size: 1.5rem;
    position: absolute;
    bottom: 2rem;
    width:100%;
}
aside .sidebar a.active{
    background: rgb(226, 247, 245);
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: #000000;
    margin-left: 0;
}
/* //=================================== active sub =================================== */

/* //=================================== end active sub =================================== */

aside .sidebar a.active::before{
    content:"";
    width:6px;
    height: 100%;
    background-color: var(--blue);
}
aside .sidebar a.active span{
    color: var(--dark-gray);
    margin-left:  calc(1rem -3px);
}
aside .sidebar a:hover{
    color : var(--gray);
}
aside .sidebar a:hover span{
    margin-left: .5rem;
}
aside .sidebar a:hover h3,.fa-chevron-right:hover{
    color:var(--blue)
}
/* ==================== CONFIG SUBMENU ====================== */
a.sub-menu-config ,a.sub-menu-config:last-child{
    margin-left:2.3rem !important;
    height: 2.5rem !important;
    transition: all 300ms ease;
    padding: 0.5rem;
}
a.sub-menu-config span{
    font-size: 1.1rem !important;
    transition: all 300ms ease;
}
.config{
    background-color: rgb(246, 246, 246);

}
.fa-chevron-right:focus{
    /* transform: rotate(90deg) */
}
/* aside .sidebar a span{
    font-size: 1.5rem;
    transition: all 300ms ease;
} */

/*  */
/* ========================== MEDIA QUERIES=============================== */
/* --------------------- FOR big tablette------------------- */
@media (min-width: 769px){
    aside{
        position: fixed;
    }
}
@media screen and (max-width:1200px) {
   

    /* aside .logo h4,aside .sidebar h3{
        display: none;
        position: relative;

    }
    aside .sidebar a{
        width: 5.6rem;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    } */
}

/* --------------------- FOR MOBILE------------------- */
@media (max-width:768px) {
    
    aside{
        left:0;
        background-color: var(--light-gray);
        width:18rem;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height:100vh;
        padding-right: 1.8rem;
        display: none;
    
    }
    aside .top{
        position: relative;
        top: 70px;
    }
    aside .logo h4, aside .sidebar h3{

        font-size: 1rem
    }
    aside .sidebar a {
     
        margin-left: 1.5rem;
    
        height: 4.5rem;
        transition: all 300ms ease;
    
    }
    aside .logo {
        margin-bottom: 30px;
    }
    .show{
        display: inline-block;
        transition: all 300ms ease;
        position: fixed;
        z-index:1;
        box-shadow:  2rem 2rem 2rem rgba(165, 165, 165, 0.406);

    }
    aside .logo {
        margin-left: 1rem;

    }
    aside .sidebar h3, aside .sidebar h3{
        display: inline;

    }
    aside .sidebar a{
        width:100%;
        width: 3.4em;
    }
    aside .sidebar a.active{
        background: rgb(226, 247, 245);
        background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        color: #000000;
        width: 100%;
        
        /* margin-left: 0; */
    }
    aside .sidebar a.logout{
        position: absolute;
        bottom: 5rem;
    }
    aside .sidebar a,aside .sidebar a div> a {

        white-space: nowrap;
        
    }
    aside .close{
        display: inline-block;
        cursor: pointer;
    }
}