<div class="nav">
    <button id="menu-btn" (click)="open()">
       <i [ngClass]="opening? 'fa-solid fa-xmark' : 'fa-solid fa-bars' "></i>
    </button>
    <!-- <div class="theme-toggler">
        <span class="active"><i class="fa-regular fa-sun"></i></span>
        <span><i class="fa-regular fa-moon"></i></span>

    </div> -->
    <div class="profile" >
        <img class='photo-profile'  [src]="profileImage" (click)="toDashboard()"/>
    </div>
</div>
