<div class="content">
    <div class="container">
        <p class="desc">Vous pouvez analyser soit</p>
     <div class="canaux">
        <div class="canal">
            <img src="assets/AssetsCanauxImages/youtube.svg"/>
            <p>une video sur youtube</p>
            <mat-checkbox (click) = "selectCanal('youtube')" [checked]="canaux.youtube" >
            </mat-checkbox>
       </div>
       <p class="ou">OU</p>
       <div class="canal">
            <img src="assets/AssetsCanauxImages/facebook.png"/>
            <p>votre(vos) post(s) sur facebook</p>
            <mat-checkbox (click) = "selectCanal('facebook')" [checked]="canaux.facebook" >
            </mat-checkbox>
       </div>
       
     </div>
     <button (click)="confirmer()">Confirmer</button>
    </div>
</div>