<div  class="profile_cont">
    <div class="profile_text">
     <h3>profil d'utilisateur </h3>
    </div>

    <div class="edit_cont">
        <div class="info">
          <div class="shape">
            <div class="image" >
                <img class='photo-profile'  [src]="profileImage" />
            </div>
            <input id="imageUpload" type="file" enctype="multipart/form-data"  #fileInput style="display: none" (change)="handleImageUpload($event)" >
            <label for="imageUpload" class="upload-icon" (click)="fileInput.click()">
              <i class="fas fa-camera" style="transform: rotate(-25deg);"></i>
            </label>
          </div>
          
          <h3>{{currentUser.firstname}} {{currentUser.lastname}}</h3>
          <h3 class="title">@{{currentUser.username}}</h3>
          <p>{{currentUser.aboutme}}</p>
          <div class="icons">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            <i class="fab fa-instagram" aria-hidden="true"></i>
            <i class="fab fa-pinterest-p" aria-hidden="true"></i>
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </div>
        </div>
      
      
        
        <div class="edit col-md-8">
            <!-- <h3 class="card_title">Modifier le profil</h3> -->
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Modifier le profile</h5>
                </div>
                <div class="card-body">
                    <form novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Company (disabled)</label>
                                <input class="form-control" disabled="" placeholder="Company" type="text" name="company"  [(ngModel)]="currentUser.company">
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" placeholder="Username" type="text"  name="username"  [(ngModel)]="currentUser.username">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input class="form-control" placeholder="Email" type="email" name="email"  [(ngModel)]="currentUser.email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" placeholder="firstname" type="text" name="firstname"  [(ngModel)]="currentUser.firstname">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" placeholder="Last Name" type="text" name="lastname"  [(ngModel)]="currentUser.lastname">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" placeholder="Home Address" type="text" name="address"  [(ngModel)]="currentUser.address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label>City</label>
                                <input class="form-control" placeholder="City" type="text" name="city"  [(ngModel)]="currentUser.city">
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Country</label>
                                <input class="form-control" placeholder="Country" type="text" name="country"  [(ngModel)]="currentUser.country">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input class="form-control" placeholder="ZIP Code" type="number" name="zipcode"  [(ngModel)]="currentUser.zipcode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About Me</label>
                                <textarea class="form-control textarea" name="aboutme" [(ngModel)]="currentUser.aboutme">Analysing comments on social media</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button class=" btn btn-round" type="submit"(click)="updateProfile()">Modifier </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

        
</div>    
</div>
