.profile_cont{
    height: 100%;
    width: 100%;
    background-color:var(--background);
    border-radius: 10px;
}
.profile_text{
    padding-top: 3% ;
    padding-bottom: 2% ;
    padding-left: 5% ;
    font-weight: 400;
    color: #66615b;
}
.edit_cont{
   
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
    
    
}
.btn{
  background-color: #cdd2d3 !important;
}
.info{
    height: 450px;
    width: 300px;
    grid-area: info;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}
.image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 8px solid white;
    position: relative;
    top: 200px;
    margin-left: 170px;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-20deg);
    overflow: hidden; /* Add this line to hide any overflow */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.shape {
    height: 250px;
    width: 400px;
    background-color: #2692a3;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px black;
    transform: rotate(25deg);
}

.profile_text >h3 {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}

.title {
    color: #9a9a9a;
    font-weight: 500;
}

p {
    padding-left: 30px;
    padding-right: 30px;
    color: #9a9a9a;
    font-weight: 300;
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin-left: 10px;
    font-size: 20px;
    transition: 0.3s;
    color: rgb(40, 163, 194);
    ;
}

.icons i:hover {
    transform: scale(1.1);
    color: rgb(18, 192, 235);
}
  .edit{
    grid-area: edit;
  border-radius: 10px;
  width: 160vh;
  }
  .info2{
    height: 450px;
    width: 300px;

    background-color: #ffffff00;

  }

  .edit > .card_title{
    margin-top: 4%;
    margin-bottom: 0.75rem;
    margin-left: 4%;
    color: #66615b;

   
  }
  .swal2-title {
    font-family: Courier New, monospace;
    font-style: italic;
  }

.shape {
    position: relative;
  }
  
  .upload-icon {
    transform: skewX(-20deg); /* Adjust the angle as needed */
    display: inline-block; /* Ensures the skew effect is applied */

    position: absolute;
    bottom: -6%;
    left: 61%;
  transform: translate(0, 100%); 
    cursor: pointer;
    font-size: 24px;
    color: #66615b;
  }
  
  .upload-icon:hover {
    color: #2692a3;
  }
  
  @media screen and (max-width:770px) {
    .edit_cont{
        padding-top: 3rem;
    }
}