<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a routerLink="/home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#how">How it Works</a></li>
            <li><a routerLink="/registration">Sign Up/In</a></li>
            <div class="profile" >
                <img class='photo-profile'  [src]="profileImage" (click)="toDashboard()"/>
            </div>
        </ul>
        <h3 class="logo">NeoInfluencer</h3>
    </div>
</nav>