/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
:root {
  --blue: #2692a3;
  --yellow: #FFEF0A;
  --light-yellow:#fff6d1:
  --pink:#ff4b54;
  --light-gray: #fcfcfc;
  --mid-gray: #e3e3e3;
  --dark-gray: #323232;
  --gray: #686868;
  --background:#f4f3ef;
  --light-black: #191919;
  --bg-color:#fcfcff;
  --color-active:#f2f1ff;
}
/* Apply a box-sizing border-box to all elements */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  list-style: none;
}


.cdk-global-overlay-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -60% !important;
  right: -50% !important ;
  left: -50% !important;
  transform: translate(50%,-50%);
  box-shadow: rgba(87, 87, 114, 0.25) 0px 6px 12px -2px, rgba(63, 63, 63, 0.3) 0px 3px 7px -3px;
  overflow: auto;
  margin-top: 70px !important;
}
@media (max-width: 769px) {
  .cdk-global-overlay-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    overflow: auto;

    box-shadow: rgba(87, 87, 114, 0.25) 0px 6px 12px -2px, rgba(63, 63, 63, 0.3) 0px 3px 7px -3px;
  }
}



/* Remove default margin and padding on all elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
form,
button,
input,
select {
  margin: 0;
  padding: 0;
}

/* Set font-size and line-height on the body element */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: var(--light-gray);
  width: 100vw;
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
html, body {
  height: 100%;
  margin: 0;
}


/* Set a max-width and center the content on larger screens */
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

/* Remove text-decoration on all links */
a {
  text-decoration: none;
}
.wrapper{
  display:grid;
  /* width:96%; */
  margin: 0 auto;
  grid-template-columns: 14rem auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@media (max-width:450px){
  .my-dialog-class{
    margin-top: 100px;
  }
}

.cdk-global-overlay-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(50%,50%);
  box-shadow: rgba(87, 87, 114, 0.25) 0px 6px 12px -2px, rgba(63, 63, 63, 0.3) 0px 3px 7px -3px;

}

@media (max-width: 769px) {
  .cdk-global-overlay-wrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    overflow: auto;

    box-shadow: rgba(87, 87, 114, 0.25) 0px 6px 12px -2px, rgba(63, 63, 63, 0.3) 0px 3px 7px -3px;
  }
}