<div class="content">
    <!-- ============================== FACEBOOK================================ -->
    <div class="token" *ngIf="canal=='facebook'">
    <form [formGroup]="tokenForm" (ngSubmit)="submit()">
       <div class="formGroup">
        <label for="token" >Access Token :</label>
        <input type="text" id="token" placeholder="Enter your access token" formControlName="token" />
       </div>
       <div class="formGroup">
        <label for="from" >From :</label>
        <input type="date" id="from" formControlName="startDate"  />
        </div>
        <button class="btn"  >Submit</button>
    </form>
    </div>
    <!-- ============================== Youtube================================ -->
    <div class="token" *ngIf="canal=='youtube'">
        <form [formGroup]="urlForm" (ngSubmit)="submitYT()">
           <div class="formGroup">
            <label for="token" >Video URL :</label>
            <input type="text" id="token" placeholder="Enter Video url" formControlName="url" />
           </div>
            <button class="btn"  >Analyse 🚀</button>
        </form>
        <div *ngIf="idVideo!=undefined">
            <!-- <youtube-player [idVideo]="idVideo"></youtube-player> -->
        </div>
        </div>
        <div id="loader" *ngIf="isLoading">
            <div id="shadow"></div>
            <div id="box"></div>
          </div>
<!-- ======================================= STATUS OF REQUEST ============================= -->
    <div class="welcome" *ngIf="!isSuccess">
        <img src="{{img}}" alt="enter your access token " class="status-img"/>
        <p class="status-msg">{{msg}}</p>
    </div>
   <div >
        <button *ngIf="isSuccess && Data?.length > 0 && canal=='facebook'"  class="btn btn-primary left-btn"  (click)="selectAllPosts()"> Select ALL </button>
    </div>
    <div *ngIf="isSuccess && Data && canal=='facebook'" class="posts-container">
       
            <div  *ngFor="let post of Data" class="posts">
                <div class="post">
                    <mat-checkbox [id]="post?.id"  [checked]="isPostSelected(post)" (click)="togglePostSelection(post)" >
                        <p  *ngIf="post.title" class="title">{{post?.title}}</p>
                        <p *ngIf="!post.title" class="title">No Available title</p>
                    </mat-checkbox>

                    
                    <img *ngIf="post.img" [src]="post?.img"/>
                    <img *ngIf="!post.img" src="assets/Status/No-Image.svg"/>

                    <p>Comments : {{post?.comments?.data?.length}}</p>

                </div>
           </div>
           
           
    </div><button  *ngIf="isSuccess && Data?.length > 0 && canal=='facebook'" class="analyse" (click)="analyse()">Analyse 🚀</button>
    <div  *ngIf="idVideo!=undefined &&  canal=='youtube'">
        <iframe width="420" height="315"
        [src]="getSanitizedUrl()">
            </iframe>
    </div>
    <button  *ngIf="canal==undefined" class="analyse" [routerLink]="['../configuration']">Go Back 🚀</button>
</div>
