<div class="container">

    <div id="loader" *ngIf="isLoading">
      <div id="shadow"></div>
      <div id="box"></div>
    </div>
   
      <div class="form">
          <div class="header">
              <img src="assets/Designs/logo.png" class='logo' alt="logo" />
              <p>Welcome, To</p>
              <h3>Neo<span class="part">Influencer</span></h3>
          </div>
    
          <form class="register-form" [formGroup]="loginForm" (ngSubmit)="login()">
              
              
            
            
              <div class="register-full-width" cellspacing="0">
                  
                      <mat-form-field appearance="outline" class="register-full-width">
                          <mat-label>Email </mat-label>
                          <input matInput type="email"  formControlName="username" >
                  <mat-error *ngIf="f['username'].invalid">enter a valid value</mat-error>
  
                        </mat-form-field>
              
                  
                     
              
                
              </div>
             
  
              <div class="register-full-width" cellspacing="0">
                
                    <mat-form-field appearance="outline" class="register-full-width">
                        <mat-label>Password </mat-label>
                        <input matInput type="text"  formControlName="password" [type]="hide ? 'password' : 'text'"/>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                  <mat-error *ngIf="f['password'].invalid">enter a valid value</mat-error>
  
                      </mat-form-field>
            
                
                   
                 
            
              </div>
              <button class="submit">Login</button>
            </form>
          <div class="signin">
              <p>Dont't have an account?<span routerLink="/registration"> Sign Up</span></p>
          </div>
      </div>
      <div class="img">
        <img src="assets/auth/l1.svg"/>
      </div>
  </div>
  