<div *ngIf="isLoading">
    <ngx-spinner
    bdColor="rgba(248, 248, 248, 0.95)"
    template=" <img src='../../../assets/suivreTendance/loader.gif' />"
  >
  </ngx-spinner>
</div>
<div class="no-content" *ngIf="canal === undefined || canal=='' ">
    <img src="assets/Designs/acees.png" alt="enter your access token " class="status-img"/>

    <p>Please select a canal </p>
    <button  *ngIf="canal==undefined" class="analyse" [routerLink]="['../configuration']">Go Back 🚀</button>

</div>
<div class="dashboard_cont" *ngIf="canal ==='facebook'">
    <div>
    <img class="img_logo" src="../../../assets/suivreTendance/fbb.webp" alt=''/>
   </div>
<div class="info_page">
    <div class="img_page">
        <img [src]="pageData.pictureUrl" alt='img'/>
        <div class="nom_page">
        <p>Page&nbsp;Name:</p>
        <p>{{pageData.name}}</p>
    </div>
   
    </div>
    <div class="insights">
    <div class="img_insi">
        <img src="../../../assets/suivreTendance/customer.gif" alt='img'/>
        <p>Followers</p>
        <p>{{pageData.fanCount}}</p>
        <!-- <img src="../../../assets/AssetsCanauxImages/facebooklogo.png" alt=""/> -->
    </div>
    <div class="img_insi">
        <img src="../../../assets/suivreTendance/bubble-chat.gif" alt='img'/>
        <p>Publications</p>

        <p>{{nbPost}}</p>
        <!-- <img src="../../../assets/AssetsCanauxImages/facebooklogo.png" alt=""/> -->
    </div>
    <div class="img_insi">
        <img src="../../../assets/suivreTendance/thumbs-up.gif" alt='img'/>
        <p>Positive&nbsp;mentions</p>
        <p>200</p>
        <!-- <img src="../../../assets/AssetsCanauxImages/facebooklogo.png" alt=""/> -->
    </div>
    <div class="img_insi">
        <img src="../../../assets/suivreTendance/thumbs-down.gif" alt='img'/>
        <p>Negative&nbsp;mentions</p>
        <p>50</p>
        <!-- <img src="../../../assets/AssetsCanauxImages/facebooklogo.png" alt=""/> -->
    </div>
    
    
</div>
</div>
 <div class="grid_charts"  *ngIf="selectedPosts.length > 2">
    <div class="Barchart-container" class="barChart1" id="1" >
        <canvas  id="MyBarChart"  style="width: 80%; height: 80%; margin-top: 10%; margin-right: 10%;">{{ Barchart }}</canvas>
    </div> 

<div id="2" class="charts_PosNeg">
    <canvas  id="PosNegChart" class="abc" style="width: 100%; height: 100%;">{{ Classchart }}</canvas>

</div>
<div class="donutandline">
<div class="chartLine"   id="chart">
        <apx-chart
          [series]="chartOptiones?.series"
          [chart]="chartOptiones?.chart"
          [xaxis]="chartOptiones?.xaxis"
          [yaxis]="chartOptiones?.yaxis"
          [colors]="chartOptiones?.colors"
          [grid]="chartOptiones?.grid"
          [markers]="chartOptiones?.markers"
          [fill]="chartOptiones?.fill"
        ></apx-chart>
      
</div>
<div class="Doughnutchart-container" id="4">

    <canvas  id="MyDoughnutChart" >{{ DoughnutChart }}</canvas>
</div>
</div>



   
    
    <div class="wordCloud" style="background-color: white;"  id="5">
        <angular-d3-cloud
        class="cloud"
          [data]="data"
          [width]="400"
          [height]="270"
          [padding]="5"
          [rotate]="rotate"
          font="Arial"
          [autoFill]="autoFill"
          [fillMapper]="fillMapper"
          [animations]="animations"
          (wordClick)="onWordClick($event)"
        ></angular-d3-cloud>
    
    </div>
    
</div> 
<div class="grid_charts" *ngIf="selectedPosts.length == 1">
    
    <div class="Barchart-container" class="barChart1" >
        <apx-chart
        [series]="chartOptiones?.series"
        [chart]="chartOptiones?.chart"
        [xaxis]="chartOptiones?.xaxis"
        [yaxis]="chartOptiones?.yaxis"
        [colors]="chartOptiones?.colors"
        [grid]="chartOptiones?.grid"
        [markers]="chartOptiones?.markers"
        [fill]="chartOptiones?.fill"
      ></apx-chart>    </div> 

<div id="2" class="charts_PosNeg"  >
    <canvas  id="PosNegChart" class="abc" style="width: 100%; height: 100%;">{{ Classchart }}</canvas>
</div>
<div class="donutandline">
    <div class="cards" id="3">
        <div class="card-content">
           <img src="../../../assets/suivreTendance/smile.jpg" class="emojis">
           <span *ngIf ="neutComments !== undefined">Positive {{pourcentagePositif}}%</span>
           <!-- <span>50%</span> -->
        </div>
        <div  class="card-content">
            <img src="../../../assets/suivreTendance/normal.jpg" class="emojis">
            <span *ngIf ="neutComments !== undefined">Neutral {{pourcentageNeutre}}%</span>
            <!-- <span>20%</span> -->
        </div>
        <div  class="card-content">
            <img src="../../../assets/suivreTendance/angry.jpg" class="emojis">
            <span *ngIf ="neutComments !== undefined" >Negative {{pourcentageNegatif}}%</span>
            <!-- <span>30%</span> -->
        </div>
    </div>
<div class="Doughnutchart-container" id="4">

    <canvas  id="MyDoughnutChart" >{{ DoughnutChart }}</canvas>
</div>
</div>



   
    
    <div class="wordCloud" style="background-color: white;"  id="5">
        <angular-d3-cloud
        class="cloud"
          [data]="data"
          [width]="400"
          [height]="270"
          [padding]="5"
          [rotate]="rotate"
          font="Arial"
          [autoFill]="autoFill"
          [fillMapper]="fillMapper"
          [animations]="animations"
          (wordClick)="onWordClick($event)"
        ></angular-d3-cloud>
    
    </div>
    

</div>
<div class="grid_charts" *ngIf="selectedPosts.length == 2">
    <div class="Barchart-container" class="barChart1" >
        <apx-chart
        [series]="chartOptiones?.series"
        [chart]="chartOptiones?.chart"
        [xaxis]="chartOptiones?.xaxis"
        [yaxis]="chartOptiones?.yaxis"
        [colors]="chartOptiones?.colors"
        [grid]="chartOptiones?.grid"
        [markers]="chartOptiones?.markers"
        [fill]="chartOptiones?.fill"
      ></apx-chart>   
     </div> 
<div class="charts_PosNeg"  >
    <canvas  id="PosNegChart2" class="abc" style="width: 100%; height: 100%;">{{ Classchart2 }}</canvas>
</div>
<div class="doughnuts">
    
    <canvas  class="chart-part" id="MyDoughnutChartFirst">{{ DoughnutChartFirst }}</canvas>
    
   
    <canvas class="chart-part" id="MyDoughnutChart" >{{ DoughnutChart }}</canvas>
   

   
</div>



   
    
    <div class="wordCloud" style="background-color: white;"  id="5">
        <angular-d3-cloud
        class="cloud"
          [data]="data"
          [width]="400"
          [height]="270"
          [padding]="5"
          [rotate]="rotate"
          font="Arial"
          [autoFill]="autoFill"
          [fillMapper]="fillMapper"
          [animations]="animations"
          (wordClick)="onWordClick($event)"
        ></angular-d3-cloud>
    
    </div>
    

</div>
</div>
<div class="dashboard_cont" *ngIf="canal === 'youtube'">

    <div>
        <img class="img_logoYTB " src="../../../assets/suivreTendance/youtube_logo.png" alt='logo_ytb'/>
    </div>
    <div class="info_page">
        <div class="img_page">
            <iframe  [src]="vid" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="nom_page nomPage_Ytb">
            <p>Channel&nbsp;Name:</p>
            <p>{{videoDetails?.snippet?.channelTitle}}</p>
        </div>
        

    </div>
    <div class="insights insYtb ">
    <div class="img_insi">
        <img src="../../../assets/suivreTendance/video.gif" alt='img'/>
        <p>Likes</p>
        <p>{{videoDetails?.statistics?.likeCount}}</p>
        <!-- <img src="../../../assets/AssetsCanauxImages/facebooklogo.png" alt=""/> -->
    </div>
    <div class="img_insi">
        <img src="../../../assets/suivreTendance/street-view.gif" alt='img'/>
        <p>Views</p>

        <p>{{videoDetails?.statistics?.viewCount}}</p>
        <!-- <img src="../../../assets/AssetsCanauxImages/facebooklogo.png" alt=""/> -->
    </div>
    <div class="img_insi">
        <img src="../../../assets/suivreTendance/three-friends.gif" alt='img'/>
        <p>Comments</p>
        <p>{{videoDetails?.statistics?.commentCount}}</p>
        <!-- <img src="../../../assets/AssetsCanauxImages/facebooklogo.png" alt=""/> -->
    </div>
   
    
    
</div>
</div>
 <div class="grid_charts" >
    <div class="Barchart-container" class="barChart1" >
        <apx-chart
        [series]="chartOptiones?.series"
        [chart]="chartOptiones?.chart"
        [xaxis]="chartOptiones?.xaxis"
        [yaxis]="chartOptiones?.yaxis"
        [colors]="chartOptiones?.colors"
        [grid]="chartOptiones?.grid"
        [markers]="chartOptiones?.markers"
        [fill]="chartOptiones?.fill"
      ></apx-chart>    </div> 

<div id="2" class="charts_PosNeg"  >
    <canvas  id="PosNegChart" class="abc" style="width: 100%; height: 100%;">{{ Classchart }}</canvas>

</div>
<div class="donutandline">
    <div class="cards" id="3">
        <div class="card-content">
           <img src="../../../assets/suivreTendance/smile.jpg" class="emojis">
           <span *ngIf ="neutComments !== undefined">Positive {{pourcentagePositif}}%</span>
           <!-- <span>50%</span> -->
        </div>
        <div  class="card-content">
            <img src="../../../assets/suivreTendance/normal.jpg" class="emojis">
            <span *ngIf ="neutComments !== undefined">Neutral {{pourcentageNeutre}}%</span>
            <!-- <span>20%</span> -->
        </div>
        <div  class="card-content">
            <img src="../../../assets/suivreTendance/angry.jpg" class="emojis">
            <span *ngIf ="neutComments !== undefined" >Negative {{pourcentageNegatif}}%</span>
            <!-- <span>30%</span> -->
        </div>
    </div>
<div class="Doughnutchart-container" id="4">

    <canvas  id="MyDoughnutChart" >{{ DoughnutChart }}</canvas>
</div>
</div>
     <div class="wordCloud" style="background-color: white;"  id="5">
        <angular-d3-cloud
        class="cloud"
          [data]="data"
          [width]="400"
          [height]="270"
          [padding]="5"
          [rotate]="rotate"
          font="Arial"
          [autoFill]="autoFill"
          [fillMapper]="fillMapper"
          [animations]="animations"
          (wordClick)="onWordClick($event)"
        ></angular-d3-cloud>
    
    </div> 
</div>  
         
</div>