.dashboard_cont{
    height: 100%; 
    background-color:var(--background);
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    /* border-top-left-radius: 20px; */
}
.no-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:1.5rem;
    /* margin:10% */
}
.status-img{
    width:35%;
    /* position: relative; */
    /* opacity: 0.6; */
}
.analyse{
    display: block;
    width:180px;
    font-size: 1.2rem;
    margin:auto;
    border-radius:10px;
    background-color:var(--blue);
    color:white;
    padding:10px;
}
.info_page{
    background-color: rgb(255, 255, 255);
    padding: 2%;
    /* margin-top: 4%; */
    height: max-content;
    margin-left: 3%;
    margin-right: 5%;
    border-radius: 15px;
    display: flex;
    gap: 23%;
flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.img_page{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    /* justify-content: center; */

}
.img_page >p{
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nom_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.nom_page > p:nth-child(1){
    color: #33cccc;
    font-weight: 500;


}
.nom_page > p:nth-child(2){
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img_page > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.insights{
    display: flex;
    justify-content: space-around;
    gap: 10%;
    /* flex-wrap: wrap; */
}
.img_insi{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    justify-content: center;
    margin-left:20px
}
.img_insi >p:nth-child(2){
    color: #33cccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img_insi > p:nth-child(3){
    font-weight: 500;
    font-size: 25px;
}
.img_insi > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.btns{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 20px;
    margin-top: 15px;
    
    margin-bottom: 10px;
}
.btns button{
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #33cccc;
    color: white;
    font: bold;
    outline:none;
     border: none;
}
.grid-kpi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.generate-form{
    width: 100%;
    height: 100%;
    margin: 15px;
    border-radius: 10px;
}
.formAI{
    width: 95%;
    height: 100%;
    margin: 15px;
    margin-right: 10px;
    border-radius: 10px;
}
.img_logo
{
    margin-right: 5%;
    float: right;
    width: 120px;
    height: 25px;
    margin-bottom: 15px;
}

.wordCloud{
    display: flex;
     /* justify-content: flex-end;  */
     margin-top: 8%;
     height: 80% !important;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    width: 100%; 
    background-color: white;
    height: fit-content;
   

  }
.cloud{
    width: 100% !important;
    height: 100% !important;
}
/* grid charts */
.grid_charts{
    display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  /* grid-gap: 10px; */
  height: 100vh; 
  width: 95%;
}
.donutandline{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px !important;
}
.barChart1{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%; height: 90%; background-color: white; 
    margin-top: 5%;
    margin-left: 5%; 

}
.charts_PosNeg{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%; 
    height: 90%;
     background-color: white; 
    margin-top: 11% !important;
    width: 100%; height: 90%; background-color: white; 
    margin-top: 8% !important;

}
.donutandline{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%; 
    height: 80%; 
    background-color: white; 
    width: 90%; height: 80%;
    margin-top: 5%;
    margin-left: 5%; 
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 40%;
    
}
.cards div{
    padding: 10px;
    background-color: #f0f0f0;
    margin-left: 20%;
    width: 100%;
    border-radius: 10px;
    
}
.cards .card-content{ 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.cards div .emojis{
    width: 25px;
    height: 25px;
    
}
.chartLine{
    height: 100% !important;
    width: 151% !important;
    background-color: white; 
    
}

#MyChart{
    height: 90% !important;
    width: 50% !important;
    background-color: white; 

}
.Doughnutchart-container{
    padding-top: 5%;
    width: 100%;
    height: 100% !important;
    background-color: white; 

}
.doughnuts{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%; 
    height: 80%; 
    background-color: white; 
    margin-top: 5%;
    margin-left: 5%; 
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}
/* #MyDoughnutChart{
    width: 50% !important;
     height: 100% !important; 
} */

.chart-part{
    width: 50% !important;
    height: 100% !important;
}




/* Youtube */
.img_logoYTB
{
    margin-right: 5%;
    float: right;
    width: 120px;
    height: 50px;
}
.img_page > iframe{
    width: 200px;
    border-radius: 15px;
}
.insYtb{
    gap:40% !important;
}
.insYtb > .img_insi > p:nth-child(3){
    color: #ff0000;
    font-size: 17px;

}
.nomPage_Ytb >p:nth-child(2){
    color: #ff0000;
    font-size: 15px;
}
ngx-spinner{
    height: 10px;
    width:10px ;
}
@media screen and (max-width:1390px) {
.insights{
    gap: 10%;
    justify-content: center;

}
}
@media screen and (max-width:600px) {
    .insights{
        gap: 1%;
        flex-wrap: wrap;
        justify-content: center;
    }
    }
    @media screen and (max-width:1250px) {
        .grid_charts{
          grid-template-columns: 1fr ;
          grid-template-rows: repeat(1, 1fr);
          grid-gap: 10px;
          height: 100%; 
          padding-bottom: 10%;
        }
        .barChart1{
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            width: 90%; height: 90%; background-color: white; 
            margin-top: 5%;
            /* margin-left: 5%;  */
        }
        .charts_PosNeg{
            border-radius: 15px;
            width: 90%; height: 90%; background-color: white; 
            margin-top: 5% !important;
            margin-left: 5%; 

        
        }
       
        
        .donutandline{
            width: 90%; height: 80%; background-color: white; 
            margin-top: 5%;
            margin-left: 5%; 
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .chartLine{
            height: 50% !important;
            width: 100% !important;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            
        }
        #MyChart{
            height: 100% !important;
            width: 100% !important;

        
        }
        .Doughnutchart-container{
            width: 100%;
            height: 100% !important;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        
        }
        .wordCloud{
            display: flex;
             /* justify-content: flex-end;  */
             height: 90% !important;
            width: 90%; 
            background-color: white;
            height: fit-content;
            margin-top: 5%;
            margin-left: 5%;
           
        
          }
        .cloud{
            width: 90% !important;
            height: 90% !important;
        }
        angular-d3-cloud{
            width: 100% !important;
            height: 100% !important;
        }
      
        }