.wrap{

    width:100vw;
    /* background:url("/assets/Designs/bg.jpg")   ;
    background-repeat: no-repeat;
  background-size: 100vw 100vh; */

}
.main_panel{
    position: relative;
    width: 100%;
    overflow: auto;
    display: flex;
    /* margin-left: 20px; */
    flex-direction: column;
    /* border-radius: 25px; */
    /* z-index: 10; */

    width:100%;
    /* height:100vh; */
    min-height: 100vh; /* Use min-height instead of height */

}
.navBar{
    margin-bottom: 70px;
}
.content{
    margin:20px 100px 0px 100px;
}

/* //======= footer  */
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.footer{

    justify-content: center;
    background-color: rgb(214, 214, 214);
    height:180px;
    position: block;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-left:100px;
    padding-bottom: 20px;
}
.row p{
    margin-right: 50px;
    font-size:1.2rem;
    font-weight:500;
    cursor: pointer;
    /* color: white; */
    
}
.col p{
    margin-top:50px;
    margin-bottom: 20px;
    text-align: center;
}
.row p:hover{
    color:#00cdbc
}
.footer-distributed {
    background-color: rgb(214, 214, 214);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #383838;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
/* app-nav-bar{
    padding-bottom: 40px;
} */
@media screen and (max-width:1185px) {
   
}
@media screen and (max-width:768px) {
    .main_panel{
        /* position: absolute !important; */
    }
    .content{
        margin:30px 10px 0px 10px;
    }
}